<body class="oscuro">
    <!--nav principal -->
    <nav class="navbar navbar-dark bg-gradient">
        <!--icon y nombre -->
        <a class="navbar-brand " href="/"><img src="../../public/img/icon0.png" alt="img" width="50"><b
                class="toscuro">DayLife</b></a>
        <!--setting botones -->
        <form class="form-inline">
            <img src="../../public/img/ADD.png" class="mr-sm-2" alt="img" width="50">
            <img src="../../public/img/edit.png" class="mr-sm-0" alt="img" width="50">
        </form>

    </nav>


<!--segundo nav-->
    <nav class="nav oscuro2 pl-2 mt-1">
        <!--primer columna info hora-->
        <div class="col-1 row green">
            <div class="m-2 toscuro">
                <h5><b>HORA</b> </h5>
                <h5>6:00AM</h5>
            </div>

        </div>
        <!--Segunda columna info Aciones-->
        <div class="col-2 row green" style="border-left: solid #0C2229  3px; border-right: solid #0C2229  3px;">

            <div class="m-2">
                <h5> <b>ACCION</b> </h5>
                <h5>Despertar</h5>
            </div>
        </div>
        <!--tercer columna perfil y info hora real y user-->
         <div class="col-3 oscuro form-inline info-perfil" style="border-radius: 28.5px; height: 57px;">
            <div class="row  text-white ">
                <img src="../../public/img/norway-4970081_1920.jpg" alt="icon" width="50" height="50" style="border-radius: 28px;">
                <h5 class="m-2"><b>Maria</b></h5>
                <h5 class="m-2"> 6:00AM</h5>
            </div>

        </div>
    </nav>