<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DayLife</title>
    <link rel="shortcut icon" href="../../public/img/icon2.png" type="image/x-icon" sizes="80x80">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link rel="stylesheet" href="/public/css/style.css">
</head>
<body class="oscuro text-white" >
    <div class="container">
        
        <form action="/registro" method="POST">
        <div class="form-group col-8 " style="padding-top: 20%; padding-left:30%;">
            <h1 style="font-size: 5em;" class="text-center">DayLife</h1>
            <label for="user">Login</label>
            <input type="text" class="form-control mb-1" placeholder="user" name="User">
            <input type="text" class="form-control mb-1" placeholder="password" name="Password">
            <input type="submit" class="btn btn-success form-control" value="Log In">

            <div class="text-center">
                <a href="">No se mi contraseña?</a>
                <br>
                <a href="http://">Crear Cuenta</a>
            </div>
        </div>
        </form>
    </div>
</body>
</html>