
<body class="oscuro text-white" >
    <div class="container">
        
        <form action="/registro" method="POST">
        <div class="form-group col-8 " style="padding-top: 20%; padding-left:30%;">
            <h1 style="font-size: 5em;" class="text-center">DayLife</h1>
            <label for="user">Login</label>
            <input type="text" class="form-control mb-1" placeholder="user" name="User">
            <input type="text" class="form-control mb-1" placeholder="password" name="Password">
            <input type="submit" class="btn btn-success form-control" value="Log In">

            <div class="text-center mt-3">
                <a href="">No se mi contraseña?</a>
                <br>
                <a href="http://">Crear Cuenta</a>
            </div>
        </div>
        </form>
    </div>
</body>
