<body class="oscuro text-white">
    <div class="container">
        <div class="wrapper">
            <h1 class="text-center">DayLife</h1>
            <form action="/registro" method="POST">
           
                <label for="user">Crear cuenta</label>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="User" name="user">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Password" name="password">
                    <br>
                     <input type="text" class="form-control" placeholder="Confirma Password" name="password">
                </div>
                <button type="submit" class="btn btn-success form-control">Crear</button>

                <div class="text-center mt-3">
                    <a href="/login">Sign In</a>    
                </div>
        </div>
     
        </form>
    </div>
</body>