* {
    margin: 0;
    padding: 0;
    transition-duration: 340ms;
    background-color: white;
}

.bg-gradient {
    background: rgba(13, 176, 165, 1);
    background: -moz-linear-gradient(45deg, rgba(13, 176, 165, 1) 0%, rgba(249, 205, 44, 1) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(13, 176, 165, 1)), color-stop(100%, rgba(249, 205, 44, 1)));
    background: -webkit-linear-gradient(45deg, rgba(13, 176, 165, 1) 0%, rgba(249, 205, 44, 1) 100%);
    background: -o-linear-gradient(45deg, rgba(13, 176, 165, 1) 0%, rgba(249, 205, 44, 1) 100%);
    background: -ms-linear-gradient(45deg, rgba(13, 176, 165, 1) 0%, rgba(249, 205, 44, 1) 100%);
    background: linear-gradient(45deg, rgba(13, 176, 165, 1) 0%, rgba(249, 205, 44, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#0db0a5', endColorstr='#f9cd2c', GradientType=1);
}